<a href="https://colab.research.google.com/github/NikitaGalkinV/Data-Analyst-Yandex-Practicum-/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div style="border:solid green 2px; padding: 20px">
    
<b>–ù–∏–∫–∏—Ç–∞, –ø—Ä–∏–≤–µ—Ç! –≠—Ç–æ –ê–ª–µ–∫—Å–∞–Ω–¥—Ä –ú–∞—Ç–≤–µ–µ–≤—Å–∫–∏–π</b> –Ø —Ä–∞–¥ —Ç–µ–±—è –≤–∏–¥–µ—Ç—å –Ω–∞ —Ñ–∏–Ω–∞–ª—å–Ω–æ–º —Å–ø—Ä–∏–Ω—Ç–µ (SQL).

---

–Ø –±—É–¥—É –∫—Ä–∞—Å–∏—Ç—å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Ü–≤–µ—Ç–æ–º, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ —É–¥–∞–ª—è–π –∏—Ö:

<div class="alert alert-block alert-danger">‚úç
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–¢–∞–∫–æ–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –Ω—É–∂–Ω–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ, –æ–Ω –∫—Ä–∏—Ç–∏—á–µ—Å–∫–∏ –≤–ª–∏—è–µ—Ç –Ω–∞ —É–¥–∞—á–Ω–æ–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞.
</div>
    
---

<div class="alert alert-block alert-warning">üìù
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__


–¢–∞–∫–æ–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —è–≤–ª—è–µ—Ç—Å—è —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–µ–π –∏–ª–∏ —Å–æ–≤–µ—Ç–æ–º. –ú–æ–∂–µ—à—å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –∏—Ö –Ω–∞ —Å–≤–æ—ë —É—Å–º–æ—Ç—Ä–µ–Ω–∏–µ.
</div>

---

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–¢–∞–∫–æ–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π  –≥–æ–≤–æ—Ä–∏—Ç –æ —Ç–æ–º, —á—Ç–æ –±—ã–ª–æ —Å–¥–µ–ª–∞–Ω–æ —á—Ç–æ-—Ç–æ –∫–∞—á–µ—Å—Ç–≤–µ–Ω–Ω–æ–µ –∏ –ø—Ä–∞–≤–∏–ª—å–Ω–æ–µ =)
</div>
    
---
    
–ü—Ä–µ–¥–ª–∞–≥–∞—é —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —É —Ç–µ–±—è –≤–æ–∑–Ω–∏–∫–∞—é—Ç –≤–æ–ø—Ä–æ—Å—ã ‚Äî –ø–∏—à–∏ –æ–± —ç—Ç–æ–º –≤ –ø–∞—á–∫–µ, –Ω–µ —Å—Ç–µ—Å–Ω—è–π—Å—è. –¢–∞–∫ –∂–µ, –º–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ –æ—Ç—Å–ª–µ–¥–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è, –µ—Å–ª–∏ —Ç—ã –≤—ã–¥–µ–ª–∏—à—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏:   
    
<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫.</div>
    
    
---

# –ü—Ä–æ–µ–∫—Ç –ø–æ SQL

## –û–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞

–í–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.


**–¶–µ–ª—å:** –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö

## –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

**–¢–∞–±–ª–∏—Ü–∞ books**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:
- book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- author_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- title ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- num_pages ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- publication_date ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- publisher_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

**–¢–∞–±–ª–∏—Ü–∞ authors**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:
- author_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- author ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

**–¢–∞–±–ª–∏—Ü–∞ publishers**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:
- publisher_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- publisher ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

**–¢–∞–±–ª–∏—Ü–∞ ratings**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:
- rating_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- username ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- rating ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

**–¢–∞–±–ª–∏—Ü–∞ reviews**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö:
- review_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- book_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- username ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞ –æ–±–∑–æ—Ä–∞;
- text ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

![image-2.png](attachment:image-2.png)

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –Ω–µ –∑–∞–±—ã–≤–∞–µ—à—å –ø—Ä–æ –æ—Ñ–æ—Ä–º–ª–µ–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞
</div>

## –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

In [ ]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db'])
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä

engine = create_engine(connection_string, connect_args={'sslmode':'require'})

In [ ]:
def get_dataset(query, con):
    engine = sqlalchemy.create_engine(con)
    df = pd.read_sql(query, engine)
    return df

In [ ]:

def load_and_print_dataset(query, name):   
    df = get_dataset(query, connection_string)
    print(name)
    display(df)
    print("‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì")
    display(df.info())
    print("‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì")
    display(df.describe(include='all'))

In [ ]:
# –∑–∞–≥—Ä—É–∑–∫–∞ –∏ –≤—ã–≤–æ–¥ –¥–∞—Ç–∞—Å–µ—Ç–∞ books
query_books = "SELECT * FROM books"
load_and_print_dataset(query_books, '–ö–Ω–∏–≥–∏')

–ö–Ω–∏–≥–∏

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268
...,...,...,...,...,...,...
995,996,571,Wyrd Sisters (Discworld #6; Witches #2),265,2001-02-06,147
996,997,454,Xenocide (Ender's Saga #3),592,1996-07-15,297
997,998,201,Year of Wonders,358,2002-04-30,212
998,999,94,You Suck (A Love Story #2),328,2007-01-16,331
999,1000,509,Zen and the Art of Motorcycle Maintenance: An ...,540,2006-04-25,143

‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           1000 non-null   int64
 1   author_id         1000 non-null   int64
 2   title             1000 non-null   object
 3   num_pages         1000 non-null   int64
 4   publication_date  1000 non-null   object
 5   publisher_id      1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.0+ KB

None

‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì

,book_id,author_id,title,num_pages,publication_date,publisher_id
count,1000.000000,1000.000000,1000,1000.00000,1000,1000.000000
unique,NaN,NaN,999,NaN,618,NaN
top,NaN,NaN,Memoirs of a Geisha,NaN,2004-06-01,NaN
freq,NaN,NaN,2,NaN,10,NaN
mean,500.500000,320.417000,NaN,389.11100,NaN,171.270000
std,288.819436,181.620172,NaN,229.39014,NaN,99.082685
min,1.000000,1.000000,NaN,14.00000,NaN,1.000000
25%,250.750000,162.750000,NaN,249.00000,NaN,83.000000
50%,500.500000,316.500000,NaN,352.00000,NaN,177.500000
75%,750.250000,481.000000,NaN,453.00000,NaN,258.000000
max,1000.000000,636.000000,NaN,2690.00000,NaN,340.000000

In [ ]:

# –∑–∞–≥—Ä—É–∑–∫–∞ –∏ –≤—ã–≤–æ–¥ –¥–∞—Ç–∞—Å–µ—Ç–∞ authors
query_authors = "SELECT * FROM authors"
load_and_print_dataset(query_authors, '–ê–≤—Ç–æ—Ä—ã')

–ê–≤—Ç–æ—Ä—ã

     author_id                                author
0            1                            A.S. Byatt
1            2        Aesop/Laura Harris/Laura Gibbs
2            3                       Agatha Christie
3            4                         Alan Brennert
4            5              Alan Moore/David   Lloyd
..         ...                                   ...
631        632         William Strunk Jr./E.B. White
632        633                           Zadie Smith
633        634                 Zilpha Keatley Snyder
634        635                    Zora Neale Hurston
635        636  √Ösne Seierstad/Ingrid Christopherson

[636 rows x 2 columns]

‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author_id  636 non-null    int64
 1   author     636 non-null    object
dtypes: int64(1), object(1)
memory usage: 10.1+ KB

None

‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì

         author_id                                             author
count   636.000000                                                636
unique         NaN                                                636
top            NaN  Umberto Eco/Girolamo De Michele/Alastair McEwe...
freq           NaN                                                  1
mean    318.500000                                                NaN
std     183.741666                                                NaN
min       1.000000                                                NaN
25%     159.750000                                                NaN
50%     318.500000                                                NaN
75%     477.250000                                                NaN
max     636.000000                                                NaN

In [ ]:

# –∑–∞–≥—Ä—É–∑–∫–∞ –∏ –≤—ã–≤–æ–¥ –¥–∞—Ç–∞—Å–µ—Ç–∞ publishers
query_publishers = "SELECT * FROM publishers"
load_and_print_dataset(query_publishers, '–ò–∑–¥–∞—Ç–µ–ª–∏')

–ò–∑–¥–∞—Ç–µ–ª–∏

     publisher_id                          publisher
0               1                                Ace
1               2                           Ace Book
2               3                          Ace Books
3               4                      Ace Hardcover
4               5  Addison Wesley Publishing Company
..            ...                                ...
335           336         Workman Publishing Company
336           337                         Wyatt Book
337           338              Yale University Press
338           339                           Yearling
339           340                     Yearling Books

[340 rows x 2 columns]

‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher_id  340 non-null    int64
 1   publisher     340 non-null    object
dtypes: int64(1), object(1)
memory usage: 5.4+ KB

None

‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì

        publisher_id            publisher
count     340.000000                  340
unique           NaN                  340
top              NaN  Random House Anchor
freq             NaN                    1
mean      170.500000                  NaN
std        98.293777                  NaN
min         1.000000                  NaN
25%        85.750000                  NaN
50%       170.500000                  NaN
75%       255.250000                  NaN
max       340.000000                  NaN

In [ ]:

# –∑–∞–≥—Ä—É–∑–∫–∞ –∏ –≤—ã–≤–æ–¥ –¥–∞—Ç–∞—Å–µ—Ç–∞ ratings
query_ratings = "SELECT * FROM ratings"
load_and_print_dataset(query_ratings, '–†–µ–π—Ç–∏–Ω–≥')

–†–µ–π—Ç–∏–Ω–≥

      rating_id  book_id        username  rating
0             1        1      ryanfranco       4
1             2        1   grantpatricia       2
2             3        1    brandtandrea       5
3             4        2        lorichen       3
4             5        2     mariokeller       2
...         ...      ...             ...     ...
6451       6452     1000  carolrodriguez       4
6452       6453     1000         wendy18       4
6453       6454     1000      jarvispaul       5
6454       6455     1000           zross       2
6455       6456     1000         fharris       5

[6456 rows x 4 columns]

‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6456 entries, 0 to 6455
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rating_id  6456 non-null   int64
 1   book_id    6456 non-null   int64
 2   username   6456 non-null   object
 3   rating     6456 non-null   int64
dtypes: int64(3), object(1)
memory usage: 201.9+ KB

None

‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì

          rating_id      book_id username       rating
count   6456.000000  6456.000000     6456  6456.000000
unique          NaN          NaN      160          NaN
top             NaN          NaN   paul88          NaN
freq            NaN          NaN       56          NaN
mean    3228.500000   510.574195      NaN     3.928284
std     1863.831001   284.141636      NaN     0.943303
min        1.000000     1.000000      NaN     1.000000
25%     1614.750000   291.000000      NaN     3.000000
50%     3228.500000   506.000000      NaN     4.000000
75%     4842.250000   750.000000      NaN     5.000000
max     6456.000000  1000.000000      NaN     5.000000

In [ ]:

# –∑–∞–≥—Ä—É–∑–∫–∞ –∏ –≤—ã–≤–æ–¥ –¥–∞—Ç–∞—Å–µ—Ç–∞ reviews
query_reviews = "SELECT * FROM reviews"
load_and_print_dataset(query_reviews, '–û—Ç–∑—ã–≤—ã')

–û—Ç–∑—ã–≤—ã

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...
...,...,...,...,...
2788,2789,999,martinadam,Later hospital turn easy community. Fact same ...
2789,2790,1000,wknight,Change lose answer close pressure. Spend so now.
2790,2791,1000,carolrodriguez,Authority go who television entire hair guy po...
2791,2792,1000,wendy18,Or western offer wonder ask. More hear phone f...
2792,2793,1000,jarvispaul,Republican staff bit eat material measure plan...

‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2793 entries, 0 to 2792
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review_id  2793 non-null   int64
 1   book_id    2793 non-null   int64
 2   username   2793 non-null   object
 3   text       2793 non-null   object
dtypes: int64(2), object(2)
memory usage: 87.4+ KB

None

‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì‚Äì

,review_id,book_id,username,text
count,2793.000000,2793.000000,2793,2793
unique,NaN,NaN,160,2793
top,NaN,NaN,susan85,Foot alone blood anyone building. Also confere...
freq,NaN,NaN,29,1
mean,1397.000000,504.693161,NaN,NaN
std,806.413976,288.472931,NaN,NaN
min,1.000000,1.000000,NaN,NaN
25%,699.000000,259.000000,NaN,NaN
50%,1397.000000,505.000000,NaN,NaN
75%,2095.000000,753.000000,NaN,NaN
max,2793.000000,1000.000000,NaN,NaN

**–í—ã–≤–æ–¥:**

- –í –¥–∞–Ω–Ω—ã—Ö –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç –ø—Ä–æ–ø—É—Å–∫–∏
- –í—Å–µ–≥–æ –±—ã–ª–æ –≤—ã–ø—É—â–µ–Ω–æ 1000 –∫–Ω–∏–≥ –Ω–∞ 636 –∞–≤—Ç–æ—Ä–æ–≤ —Å —Å—Ä–µ–¥–Ω–∏–º –∫–æ–ª-–≤–æ–º —Å—Ç—Ä–∞–Ω–∏—Ü 230 - —ç—Ç–æ –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –º–∞–ª–µ–Ω—å–∫–∞—è –±–∞–∑–∞
- –í—Å–µ–≥–æ 340 –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤
- –ú–µ–¥–∏–∞–Ω–∞ —Ä–µ–π—Ç–∏–Ω–≥–∞ 3.9, –≤ –±–∞–∑–µ –¥–æ–≤–æ–ª—å–Ω–æ —Ö–æ—Ä–æ—à–∏–µ –∫–Ω–∏–≥–∏ (–Ω–æ —ç—Ç–æ –Ω–µ —Ç–æ—á–Ω–æ)
- –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –æ—Å—Ç–∞–≤–∏–ª–∏ –ø–æ—á—Ç–∏ 2800 –æ—Ç–∑—ã–≤–æ–≤, –¥–ª—è –≤—ã–±–æ—Ä–∞ –∫–Ω–∏–≥ —ç—Ç–æ –±—É–¥–µ—Ç –æ—á–µ–Ω—å –ø–æ–ª–µ–∑–Ω–æ

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–û—Ç–ª–∏—á–Ω–æ –ø–µ—Ä–≤—ã–π –≤–∑–≥–ª—è–¥ –Ω–∞ –¥–∞–Ω–Ω—ã–µ –µ—Å—Ç—å. –¢—ã –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –≤—ã–≥—Ä—É–∑–∏–ª –¥–∞–Ω–Ω—ã–µ –∏ –ø–æ—Å–º–æ—Ç—Ä–µ–ª –∏—Ö —Å–æ–¥–µ—Ä–∂–∏–º–æ–µ
</div>

### –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥, –∫–æ—Ç–æ—Ä—ã–µ –≤—ã—à–ª–∏ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

In [ ]:

def load_and_print_dataset(query):   
    df = get_dataset(query, connection_string)
    display(df)

In [ ]:
# –∑–∞–≥—Ä—É–∑–∫–∞ –∏ –≤—ã–≤–æ–¥ –¥–∞—Ç–∞—Å–µ—Ç–∞ books
ss = '''
           SELECT COUNT(book_id) 
           FROM books
           WHERE publication_date > '2000-01-01'; 
        '''

load_and_print_dataset(ss)

   count
0    819

**–í—ã–≤–æ–¥:**

- –ë—ã–ª–æ –≤—ã–ø—É—à–µ–Ω–æ 819 –∫–Ω–∏–≥, —á—Ç–æ –Ω–∞ 181 –º–µ–Ω—å—à–µ –æ—Ç –æ–±—â–µ–≥–æ –∫–æ–ª-–≤–∞

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–†–∞—Å—á—ë—Ç –≤–µ—Ä–Ω—ã–π
</div>

### –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—è—è –æ—Ü–µ–Ω–∫–∞ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏

In [ ]:
dd = '''
    SELECT books.book_id,
            books.title, 
            COUNT(DISTINCT reviews.review_id) AS count_review,  
            ROUND(AVG(ratings.rating),2) AS avg_ratings         
    FROM books
    LEFT JOIN ratings ON ratings.book_id = books.book_id 
    LEFT JOIN reviews ON reviews.book_id = books.book_id 
    GROUP BY books.book_id
    ORDER BY count_review DESC,avg_ratings DESC;
'''   
load_and_print_dataset(dd)

,book_id,title,count_review,avg_ratings
0,948,Twilight (Twilight #1),7,3.66
1,302,Harry Potter and the Prisoner of Azkaban (Harr...,6,4.41
2,299,Harry Potter and the Chamber of Secrets (Harry...,6,4.29
3,656,The Book Thief,6,4.26
4,734,The Glass Castle,6,4.21
...,...,...,...,...
995,191,Disney's Beauty and the Beast (A Little Golden...,0,4.00
996,387,Leonardo's Notebooks,0,4.00
997,221,Essential Tales and Poems,0,4.00
998,83,Anne Rice's The Vampire Lestat: A Graphic Novel,0,3.67
999,808,The Natural Way to Draw,0,3.00

**–í—ã–≤–æ–¥:**

- –°—É–º–µ—Ä–∫–∏ –∏ –≥–∞—Ä—Ä–∏ –ø–æ—Ç—Ç–µ—Ä –∏–º–µ–µ—Ç –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –æ—Ç–∑—ã–≤–æ–≤ –∏ —Ä–µ–π—Ç–∏–Ω–≥

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–ì—Ä–∞–º–æ—Ç–Ω—ã–π —à–∞–≥, —á—Ç–æ –¥–æ–±–∞–≤–∏–ª –∫–æ–ª–æ–Ω–∫—É —Å –Ω–∞–∑–≤–∞–Ω–∏–µ–º –∫–Ω–∏–≥
</div>

### –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü (–∏—Å–∫–ª—é—á–µ–Ω–∏–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä)

In [ ]:
aa = '''
      SELECT p.publisher, 
          COUNT(b.book_id) AS books_published
      FROM publishers AS p
      INNER JOIN books AS b ON p.publisher_id = b.publisher_id
      WHERE b.num_pages > 50
      GROUP BY p.publisher_id
      ORDER BY books_published DESC
      LIMIT 1;
        '''
load_and_print_dataset(aa)

       publisher  books_published
0  Penguin Books               42

**–í—ã–≤–æ–¥:**

- Penguin Books	–≤—ã–ø—É—Å—Ç–∏–ª–æ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∫–Ω–∏–≥

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–°–æ–≥–ª–∞—Å–µ–Ω —Å —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–º. –î–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –¥–∞–Ω–Ω–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ —è–≤–ª—è–µ—Ç—Å—è –ª–∏–¥–µ—Ä–æ–º –ø–æ –≤—ã–ø—É—â–µ–Ω–Ω—ã–º –∫–Ω–∏–≥–∞–º
</div>

### –ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ (—Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏)

In [ ]:
query = '''
        SELECT a.author, 
                ROUND(AVG(r.rating), 2) AS avg_books_rating
        FROM books AS b
        INNER JOIN authors AS a ON b.author_id = a.author_id
        LEFT OUTER JOIN ratings AS r ON b.book_id = r.book_id
        GROUP BY a.author
        HAVING COUNT(r.rating) > 50
        ORDER BY AVG(r.rating) DESC
        LIMIT 1;
        '''
load_and_print_dataset(query)

                       author  avg_books_rating
0  J.K. Rowling/Mary GrandPr√©              4.29

**–í—ã–≤–æ–¥:**

- J.K. Rowling/Mary GrandPr√© –∏–º–µ–µ—Ç —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ 4.3 - –Ω—É–∂–Ω–æ —Å–∫—É–ø–∏—Ç—å –≤—Å–µ –∫–Ω–∏–≥–∏ –∏–∑–¥–∞–Ω–Ω—ã–µ –∏ —á–µ—Ä–Ω–æ–≤–∏–∫–∏ –¥–∞–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ—Ä–∞

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__
    
–ü–æ—Å–ª–µ —Å—Ç–æ–ª—å–∫–∏—Ö –ª–µ—Ç? –í—Å–µ–≥–¥–∞...

![image.png](attachment:image.png)

### –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫

In [ ]:
vv = '''
        SELECT ROUND(AVG(review_count)) AS avg_review_count
        FROM (SELECT username,
              COUNT(review_id) AS review_count
              FROM reviews
              WHERE username in (SELECT username
                                 FROM ratings
                                 GROUP BY username
                                 HAVING COUNT(rating_id) > 50)
              GROUP BY username) AS rc;
        '''

load_and_print_dataset(vv)

   avg_review_count
0              24.0

**–í—ã–≤–æ–¥:**

- –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª-–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π - 24

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–¢—ã –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –æ—Ç–æ–±—Ä–∞–ª –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏ —Ä–∞—Å—Å—á–∏—Ç–∞–ª –∏—Ö –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏.

### –í—ã–≤–æ–¥

**–í—ã–≤–æ–¥:**

- –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –ø—Ä–æ—è–ª—è—é—Ç —Ö–æ—Ä–æ—à—É—é –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç—å
- –ù–µ–æ–±—Ö–æ–¥–∏–º–æ —É–≤–µ–ª–∏—á–∏—Ç—å –∫–æ–ª-–≤–æ –∫–Ω–∏–≥ –≤ –±–∞–∑–µ, –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ —Å—Ç–æ–∏—Ç –¥–æ–±–∞–≤–∏—Ç—å –±–æ–ª—å—à–µ –∫–Ω–∏–≥ –∞–≤—Ç–æ—Ä–æ–≤ —Å —Ö–æ—Ä–æ—à–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º
- Penguin Books –≤—ã–ø—É—Å—Ç–∏–ª–æ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∫–Ω–∏–≥
- –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª-–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π - 24
- J.K. Rowling/Mary GrandPr√© –∏–º–µ–µ—Ç —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ 4.3 - –Ω—É–∂–Ω–æ —Å–∫—É–ø–∏—Ç—å –≤—Å–µ –∫–Ω–∏–≥–∏ –∏–∑–¥–∞–Ω–Ω—ã–µ –∏ —á–µ—Ä–Ω–æ–≤–∏–∫–∏ –¥–∞–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ—Ä–∞
-

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–ü–æ–ª—É—á–∏–ª–∞—Å—å —Ö–æ—Ä–æ—à–∞—è —Ä–∞–±–æ—Ç–∞, —Ä–∞–∑–≤–µ—Ä–Ω—É—Ç—ã–π –∏—Ç–æ–≥–æ–≤—ã–π –≤—ã–≤–æ–¥ –ø—Ä–∏–¥–∞–µ—Ç –µ–π –≤–∏–¥ –∑–∞–∫–æ–Ω—á–µ–Ω–Ω–æ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞. –ü–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –æ–∫–æ–Ω—á–∞–Ω–∏–µ–º –∫—É—Ä—Å–∞! –£ —Ç–µ–±—è –ø–æ–ª—É—á–∏–ª–æ—Å—å —Å–ø—Ä–∞–≤–∏—Ç—å—Å—è —Å–æ –≤—Å–µ–º–∏ –∑–∞–¥–∞—á–∞–º–∏. 
</div>